# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# Vercel
.vercel/
*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Build outputs
frontend/dist/
backend/__pycache__/
*.pyc

# Python
venv/
env/

# Coverage
coverage
*.lcov

# Optional npm cache
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# parcel-bundler cache
.cache
.parcel-cache

# vitepress
**/.vitepress/dist
**/.vitepress/cache

# Docusaurus
.docusaurus

# Serverless
.serverless/

# Firebase
.firebase/

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
